<title>LukoFS - Upload a file</title>
{% extends "layout.html" %}
{% block body %}
  <form enctype="multipart/form-data" method="POST"
        class="form-row">
    <div class="input-group">
      <div class="custom-file">
        <input type="file" name="file"
               class="custom-file-input" id="fileToUpload"
               onchange="$('#fileToUploadLabel').html(this.files[0].name)">
        <label id="fileToUploadLabel" for="fileToUpload"
               class="custom-file-label">
          Choose file
        </label>
      </div>
      <div class="input-group-append">
        <button type="submit" class="btn btn-primary">Start the upload</button>
      </div>

    </div>
  </form>
{% endblock %}
