{% extends "layout.html" %}
{% block body %}

<head>
  <title>DOSYE - Upload a file</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
</head>

<div id="app">
  <ul class="list-group">
    <file-item
      v-for="file in files"
      v-bind:file="file"
      v-bind:key="file.id"
      v-on:remove-file-item="removeFile">
    </file-item>
  </ul>
</div>

<script type="application/javascript">

  Vue.component('file-item', {
    props: ['file'],
    template:`
      <li class="list-group-item">
        <a :href="'/download/' + file.filename"
           class="download" title="Download">
          <i class="fas fa-download"></i>
          {{ file.filename }}
        </a>
        <button v-on:click="deleteFile"
                type="button" class="close" title="Delete">
          &times;
        </button>
      </li>`,
    methods: {
      deleteFile: function (event) {
        event.preventDefault();
        let vm = this;
        let filename = this.file.filename;
        fetch('/delete/'+encodeURIComponent(filename))
          .then(res => res.json())
          .then(res => {
            if(res.status === undefined || res.status === 'error') {
              // TODO : handle errors
              console.error(res);
            } else {
              vm.$emit('remove-file-item', filename);
            }
          });
      }
    }
  });

  let app = new Vue({
    el: '#app',
    data: {
      files: ${ files|tojson }
    },
    methods: {
      removeFile: function (filename) {
        this.files = this.files.filter(file => {
           return filename != file.filename;
        });
      }
    }
  });
</script>

{% endblock %}
